// typo
.text40 {
  font-size: 2.5rem;
}
.text32 {
  font-size: 2rem;
}
.text24 {
  font-size: 1.5rem;
}
.text18 {
  font-size: 1.12rem;
}
.text16 {
  font-size: 1rem;
}
.text14 {
  font-size: 0.88rem;
}
.text12 {
  font-size: 0.75rem;
}

.text60-700 {
  font-size: 3.75rem;
  font-weight: 700;
  @media @mobile {
    .text40;
  }
}

.text60-500 {
  font-size: 3.75rem;
  font-weight: 500;
  @media @mobile {
    .text40;
  }
}

.text60-400 {
  font-size: 3.75rem;

  font-weight: 400;
  @media @mobile {
    .text40;
  }
}

.text60-underline {
  font-size: 3.75rem;
  font-weight: 400;
  text-decoration: underline;
  @media @mobile {
    .text40;
  }
}

.text40-700 {
  font-size: 2.5rem;
  font-weight: 700;
  @media @mobile {
    .text32;
  }
}

.text40-500 {
  font-size: 2.5rem;

  font-weight: 500;
  @media @mobile {
    .text32;
  }
}

.text40-400 {
  font-size: 2.5rem;

  font-weight: 400;
  @media @mobile {
    .text32;
  }
}

.text32-700 {
  font-size: 2rem;

  font-weight: 700;
  @media @mobile {
    .text24;
  }
}

.text32-500 {
  font-size: 2rem;

  font-weight: 500;
  @media @mobile {
    .text24;
  }
}

.text32-400 {
  font-size: 2rem;

  font-weight: 400;
  @media @mobile {
    .text24;
  }
}

.text24-700 {
  font-size: 1.5rem;
  font-weight: 700;
  @media @mobile {
    .text18;
  }
}

.text24-500 {
  font-size: 1.5rem;
  font-weight: 500;
  @media @mobile {
    .text18;
  }
}

.text24-400 {
  font-size: 1.5rem;
  font-weight: 400;
  @media @mobile {
    .text18;
  }
}

.text18-700 {
  font-size: 1.12rem;
  font-weight: 700;
  @media @mobile {
    .text16;
  }
}

.text18-500 {
  font-size: 1.12rem;
  font-weight: 500;
  @media @mobile {
    .text16;
  }
}

.text18-400 {
  font-size: 1.12rem;
  font-weight: 400;
  @media @mobile {
    .text16;
  }
}

.text16-700 {
  font-size: 1rem;

  font-weight: 700;
  @media @mobile {
    .text14;
  }
}

.text16-500 {
  font-size: 1rem;

  font-weight: 500;
  @media @mobile {
    .text14;
  }
}

.text16-400 {
  font-size: 1rem;

  font-weight: 400;
  @media @mobile {
    .text14;
  }
}

.text16-underline {
  font-size: 1rem;
  font-weight: 400;
  text-decoration: underline;
  @media @mobile {
    .text14;
  }
}

.body16-700 {
  font-size: 1rem;
  font-weight: 700;
  @media @mobile {
    .text14;
  }
}

.body16-500 {
  font-size: 1rem;

  font-weight: 500;
  @media @mobile {
    .text14;
  }
}

.body16-400 {
  font-size: 1rem;

  font-weight: 400;
  @media @mobile {
    .text14;
  }
}

.text14-700 {
  font-size: 0.88rem;

  font-weight: 700;
}

.text14-500 {
  font-size: 0.88rem;

  font-weight: 500;
}

.text14-400 {
  font-size: 0.88rem;

  font-weight: 400;
}

.body14-700 {
  font-size: 0.88rem;

  font-weight: 700;
}
.body14-600 {
  font-size: 0.88rem;

  font-weight: 600;
}
.body14-500 {
  font-size: 0.88rem;

  font-weight: 500;
}

.body14-400 {
  font-size: 0.88rem;

  font-weight: 400;
}

.text12-700 {
  font-size: 0.75rem;

  font-weight: 700;
}

.text12-500 {
  font-size: 0.75rem;

  font-weight: 500;
}

.text12-400 {
  font-size: 0.75rem;

  font-weight: 400;
}

.text10-400 {
  font-size: 0.75rem;

  font-weight: 400;
}

.color(@color) {
  .color-@{color} {
    color: var(~'--fill-@{color}');
  }
}

.color(default);
.color(sub);
.color(inverse);
.color(navy);
.color(blue);
.color(mint);
.color(yellow);
.color(bluegray);
.color(light-blue);

.fill(@color) {
  &,
  .fill-@{color} {
    background-color: var(~'--fill-@{color}');
  }
}

.bg(@color) {
  &,
  .bg-@{color} {
    background-color: var(~'--fill-@{color}');
  }
}

.bg(default);
.bg(sub);
.bg(inverse);
.bg(navy);
.bg(blue);
.bg(mint);
.bg(yellow);
.bg(bluegray);
.bg(light-blue);

.fill(default);
.fill(sub);
.fill(inverse);
.fill(navy);
.fill(blue);
.fill(mint);
.fill(yellow);
.fill(bluegray);
.fill(light-blue);

.line(@width, @color) {
  &,
  .line-@{color} {
    border: @width solid var(~'--line-@{color}');
  }
}

.line(1px, 10);
.line(1px, 40);
.line(1px, 100);
.line(1px, navy);
.line(1px, blue);
.line(1px, inverse);
.line(1px, danger);

.fg(@color) {
  .fg-@{color} {
    color: var(~'--foreground-@{color}');
  }
}

.fg(default);
.fg(sub);
.fg(inverse);
.fg(navy);
.fg(blue);
.fg(mint);
.fg(disable);
.fg(danger);
